{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <br><br>
                <h2 class="boold">AUDIT PARTNER</h2>
                <br><br>
            </div>
            <div class="col-lg-12 col-12">
                <img src="{% static 'pictures/audit.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="col-lg-12 col-12 text-center">
                <br>
                <p>Annual Report audited by AJC</p>

                <p>(Member of DFK International)</p>
            </div>
            <div class="col-lg-12 col-12">
                <br>
                <p>Recent financial audit carried out by AJC auditor (member of DFK International), confirms that even though it’s not the best time for the financial markets, Meta Coin Options figures are still indicating dynamic growth.</p>

                <p>Together with the financial audit, an operational audit was also carried out. According to the results, Meta Coin Options 100% growth of new registered clients as well as the total amount of agent commissionspay-out.</p>

                <p>AJC is a correspondent member of DFK International, where corporate compliance with the DFK Membership Criteria and International Standards is mandatory.</p>

                <p>DFK International is a major international association of independent accounting firms and business advisers that has been meeting the needs of clients with business and professional interests in their home country and globally for 50 years. The association now has over 300 offices worldwide, creating added value for clients with cross-border interests. DFK member firms enjoy effective cooperation throughout the world, resulting in the ability for member companies to deliver international standard services on time and at a competitive cost.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}