{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section" class="awards">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <br>
                <h2>AWARDS</h2>
            </div>
            <div class="col-lg-12 col-12">
                <br>
                <p class="boold">Committed to our clients, our people, and our communities</p>

                <p>Bull Hub Capitals strive to be the standard of excellence in all they do. That’s evident by the many external organizations recognizing Bull Hub Capitals for their service to clients, their work environments, and their support of the communities around them.</p>
                <br>
            </div>
            <div class="col-lg-6 col-12">
                <img src="{% static 'pictures/award1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="col-lg-12 col-12">
                <br><br>
                <p>Global Banking &amp; Finance Review has awarded Bull Hub Capitals LTD as BEST STP BROKER EUROPE 2013 and BEST FUND SEGREGATION BROKER ASIA 2013.</p>

                <p>These awards honor companies that stand out in particular areas of expertise in the banking and finance industry. The Global Banking &amp; Finance Review judging panel awarded Bull Hub Capitals LTD in the <span class="piink">BEST STP BROKER EUROPE 2013 and BEST FUND SEGREGATION BROKER ASIA 2013</span> categories using a wide range of criteria.</p>

                <p>“Strong competition within the Brokers. Bull Hub Capitals LTD have proven itself in these categories this year because of the company’s outstanding achievements and track records in the Forex sector. Bull Hub Capitals will continue to establish MORE stronger relationship with  liquidity partners for IMPROVING clients trading experience, more choices of banks for clients fund segregation.” said Lukas Alder, Divisional Vice President- Operations.</p>

                <span>We scored well in the following categories:</span>

                <ul>
                    <li>Top ECN Trading Environment</li>
                    <li>Best Execution on STP/ No Dealing Desk (NDD)</li>
                    <li>Competitive Partners Rebate</li>
                    <li> Best trading environment and execution</li>
                    <li>Innovative marketing and business building tools</li>
                    <li>Advance Mobile Trading capabilities</li>
                    <li>Strong relationship with Top-Tier Banks and Liquidity providers</li>
                    <li>TOP SUPPORT in MT4 MQL5 SIGNAL TRADING</li>
                </ul>

                <p>“With experience in retail Forex brokerage, hedge fund management and technology development, Bull Hub Capitals is driven by a focus on unprecedented fund safety, superior trade execution and straight through processing.”</p>

                <p class="boold"> Our dedication has definitely paid off. Bull Hub Capitals is now among the World’s Top Forex Brokers</p>

            </div>
        </div>
    </div>
</section>


{% endblock %}