{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <br><br>
                <h2 class="boold">BONUS</h2>
                <br>
            </div>
            <div class="col-lg-6 col-12">
                <img src="{% static 'pictures/bonus.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="col-lg-12 col-12">
                <br><br>
                <p>Care for some extra trading cash to get you started? Make your first deposit with Bull Hub Capitals and you will receive from 10 - 100% Welcome Bonus of up to $10,000 instantly. Bull Hub Capitals offers a special opportunity of receiving the Deposit Bonus to every NEW FUNDING into the live trading account.</p>

                <p>Every time you deposit your account, you get 10-100% FREE bonus and up to $10,000. More funds, more trading, more profit and more fun! RECEIVE YOUR DEPOSIT BONUS NOW !</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}