{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <br><br>
                <h2 class="boold">SHARE CFD'S</h2>
            </div>
            <div class="col-lg-12 col-12">
                <p><strong>What is a CFD?</strong></p>

                <p>CFD stands for ‘Contract for Difference’, which is an arrangement made between two parties, the buyer and the seller, over the price movement of a specific financial product. Essentially, the seller has to pay the buyer the difference between the present value of an asset and its value at the time the contract was made.</p>

                <p><strong>Why trade Share CFDs?</strong></p>

                <p>By trading Share CFDs, you gain access to the stock market of some of your favourite companies. As an investor, you’re trading on the price movements on shares of a corporation that is trading in the equity market.</p>

                <p>In this sense, the trader is not subject to the ownership of the underlying asset, which is one of the most important aspects of trading CFDs. The trader is effectively stress-free of any negative corporate events, including bankruptcy.</p>

                <p><strong>Instant Execution Speeds</strong></p>

                <p>Our Share CFDs are traded with instant execution, guaranteeing you efficient price execution in the market.</p>

                <p><strong>Low Costs</strong></p>

                <p>Trading Share CFDs is a much cheaper option than buying and trading the underlying stock, you do not have the associated costs of accessing trading capabilities, because you are not buying the asset. CFDs offer the trader the same – sometimes even greater – profit opportunities as if they had bought the stock.</p>

                <p>This is a double-edged sword however, as the trader can suffer the same amount of losses depending on the price movement of the underlying stock.</p>

                <p><strong>Leverage and Margin</strong></p>

                <p>With CFDs in general, identical margin requirements apply, regardless of whether you’re going short or long. What’s more, leverage is higher with CFDs than it is with traditional trading, and the margin requirement for Share CFDs often starts from just 3%. Traders will still need to apply proper risk management into their strategies however, because using leverage and margin can potentially amplify losses as well as profits.</p>

                <p><strong>Dividends</strong></p>

                <p>When trading Share CFDs with Meta Coin Options, any positive events that affect the relevant companies are passed on to our clients, including dividends. As a portion of the companies’ earnings are divided between key shareholders, so they are distributed amongst our clients who are buying or selling CFDs for that company’s share.</p>

                <p><strong>Main considerations for Share CFDs:</strong></p>

                <ul>
                    <li>Meta Coin Options has access to direct liquidity pricing and real-time data straight from the NYSE and NASDAQ, the world’s two largest stock exchanges.</li>
                    <li>The trading hours for Share CFDs are identical to the trading hours of the original exchange that the actual shares are traded on.</li>
                    <li>If a stock market is falling, losses may be incurred, but potential opportunities for profit also exist.</li>
                    <li>While trading Share CFDs is popular, it’s important to keep in mind that they carry the same risk as trading any leveraged asset.</li>
                </ul>
            </div>
            <div class="col-lg-12 col-12">
                <table style="width:100%">
                    <tr>
                        <th>Instrument Name</th>
                        <th>Symbols</th>
                        <th>Digits</th>
                        <th>Margin (5%)</th>
                        <th>Trading Hours - GMT +2</th>
                    </tr>
                    <tr>
                        <td>Apple</td>
                        <td>AAPL</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Amazon Com</td>
                        <td>AMZN</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Boeing</td>
                        <td>BA</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Alibaba</td>
                        <td>BABA</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Bank Of America</td>
                        <td>BAC</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Citigroup</td>
                        <td>C</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Cisco Systems</td>
                        <td>CSCO</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Chevron</td>
                        <td>CVX</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Facebook</td>
                        <td>FB</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>General Electr</td>
                        <td>GE</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Goldman Sachs Group</td>
                        <td>GS</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>IBM</td>
                        <td>IBM</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Intel</td>
                        <td>INTC</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Johnson&apm;Johnson</td>
                        <td>JNJ</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Jp Morgan Chase</td>
                        <td>JPM</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Mastercard Cl A</td>
                        <td>MA</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Mcdonalds</td>
                        <td>MCD</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Microsoft</td>
                        <td>MSFT</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Netflix</td>
                        <td>NFLX</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Oracle</td>
                        <td>ORCL</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Pfizer</td>
                        <td>PFE</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Procter &amp;Gamb</td>
                        <td>PG</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>AT&amp;T</td>
                        <td>T</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Tesla Motors</td>
                        <td>TSLA</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Visa</td>
                        <td>V</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Exxon Mobil</td>
                        <td>XOM</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Google (Alphabet Inc Class C)</td>
                        <td>GOOG</td>
                        <td>2</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}