{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <br><br>
                <h2 class="boold">CFDs On CRYPTOCURRENCIES</h2>
            </div>
            <div class="col-lg-12 col-12">
                <p>Cryptocurrencies (Crypto) are virtual currencies that typically use a decentralised network to carry out secure financial transactions. With Bull Hub Capitals’s trading platform you can trade Crypto CFDs – such as Bitcoin, Ripple XRP, Ethereum and more – by speculating on their price movements, without actually owning them.</p>

                <p>With the popularity of cryptocurrencies expanding exponentially over the past years, more and more people are becoming aware of the potential that these assets represent. By trading cryptocurrencies such as Bitcoin, Litecoin and Ripple in the form of CFDs, traders have the opportunity to invest in their price without having to actually buy them. Furthermore, at Bull Hub Capitals you can invest in cryptocurrency CFDs with leverage and take advantage of a wide array of informative and educational tools</p>

                <p><strong>What are the benefits of Crypto CFDs?</strong></p>

                <ul>
                    <li>Available 5 days a week, 24 hours a day!</li>
                    <li>No need to have an exchange account or use a special wallet!2</li>
                    <li>Trade in any direction - Selling is just as accessible as Buying</li>
                </ul>

                <p>Control your Profits and Losses</p>

                <p>Price alerts and Stops, such as Stop Loss and Trailing Stop, will help to manage your risk when trading on these extremely volatile instruments.</p>
            </div>
            <div class="col-lg-12 col-12">
                <table style="width:100%">
                    <tr>
                        <th>Instrument Name</th>
                        <th>Symbols</th>
                        <th>Digits</th>
                        <th>Margin (5%)</th>
                        <th>Trading Hours - GMT +2</th>
                    </tr>
                    <tr>
                        <td>Bitcoin</td>
                        <td>BTCUSD</td>
                        <td>2</td>
                        <td>20</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Dash</td>
                        <td>DASHUSD</td>
                        <td>2</td>
                        <td>20</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Etherium</td>
                        <td>ETHUSD</td>
                        <td>2</td>
                        <td>20</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Litecoin</td>
                        <td>LTCUSD</td>
                        <td>2</td>
                        <td>20</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Ripple</td>
                        <td>XRPUSD</td>
                        <td>4</td>
                        <td>20</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}