{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <br><br>
                <h2 class="boold">CFDs On COMMODITIES/INDICES</h2>
            </div>
            <div class="col-lg-12 col-12">
                <p><strong>What are CFDs?</strong></p>

                <p>A Contract for Difference (CFD) is an agreement made between the buyer and the seller of a specified asset. This agreement states that the seller will pay the buyer the difference in price between the asset’s value at the time the agreement was made and the asset’s value at present. CFD trading is one of the most popular options for traders because you’re trading on price movements of an asset, without actually having to buy it.</p>

                <p><strong>Why trade CFDs on Commodities/Indices?</strong></p>

                <p>CFDs offer you easier and faster access to the commodities markets. As a result, it provides you with flexible trading opportunities that have great potential to boost your investment portfolio.</p>

                <p><strong>Competitive Trading Costs</strong></p>

                <p>Our CFDs on Commodities/indices are designed in a way that gives clients the same trading benefits as if they were trading instruments on the actual commodities exchange, but without the costs associated with connecting to the actual exchange.</p>

                <p><strong>Leverage</strong></p>

                <p>Thanks to leverage, CFDs are attractive to traders because they offer an opportunity to participate in the financial markets with a small initial investment. Traders use a smaller portion of their own capital when opening a position, which opens the doors for potentially bigger returns. That said, it’s important to remember that leverage carries the same potential to increase losses as it does to boost profits.</p>

                <p><strong>Fast Execution and Deep Liquidity</strong></p>

                <p>Our CFD commodities/indices are tradable with both instant and market execution. Meta Coin Options’s commitment to efficient order execution has ensured deep liquidity with many providers, and super-fast execution for more precise trading.</p>

                <p><strong>Things to consider when trading CFDs on Commodities/Indices:</strong></p>

                <ul>
                    <li>Whether you go short or go long, the same rules and margin requirements apply when trading CFDs.</li>
                    <li>The margin requirements for CFDs are lower than they are for the underlying asset.</li>
                    <li>Since you can take both short and long positions with CFDs, a falling market retains the same risks when it comes to incurring losses but it can also offer potential profit-taking opportunities.</li>
                    <li>The benefits of CFD trading is clear, but always remember that all leveraged assets have similar levels of associated risks and CFDs are no different.</li>
                </ul>
            </div>
            <div class="col-lg-12 col-12">
                <table style="width:100%">
                    <tr>
                        <th>Instrument Name</th>
                        <th>Symbols</th>
                        <th>New Symbol</th>
                        <th>Instrument Type</th>
                        <th>Digits</th>
                        <th>Margin (5%)</th>
                        <th>Currency</th>
                    </tr>
                    <tr>
                        <td>Australia 200 Index</td>
                        <td>AXCAUD.c</td>
                        <td>AXCAUD.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>AUD</td>
                    </tr>
                    <tr>
                        <td>Euro Stoxx 50 Index</td>
                        <td>EXCEUR.c</td>
                        <td>EXCEUR.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>EUR</td>
                    </tr>
                    <tr>
                        <td>German 30 Index</td>
                        <td>GECEUR.c</td>
                        <td>GECEUR.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>EUR</td>
                    </tr>
                    <tr>
                        <td>Japan 225 Index</td>
                        <td>JPCJPY.c</td>
                        <td>JPCJPY.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>JPY</td>
                    </tr>
                    <tr>
                        <td>UK 100 Index</td>
                        <td>UKCGBP.c</td>
                        <td>UKCGBP.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>GBP</td>
                    </tr>
                    <tr>
                        <td>US 30 Index</td>
                        <td>DJCUSD.c</td>
                        <td>DJCUSD.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>USD</td>
                    </tr>
                    <tr>
                        <td>UK 100 Index</td>
                        <td>UKCGBP.c</td>
                        <td>UKCGBP.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>GBP</td>
                    </tr>
                    <tr>
                        <td>US Tech 100 Index</td>
                        <td>NACUSD.c</td>
                        <td>NACUSD.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>USD</td>
                    </tr>
                    <tr>
                        <td>US 500 Index</td>
                        <td>SPCUSD.c</td>
                        <td>SPCUSD.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>USD</td>
                    </tr>
                    <tr>
                        <td>France 40 Index</td>
                        <td>FRCEUR.c</td>
                        <td>FRCEUR.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>EUR</td>
                    </tr>
                    <tr>
                        <td>Hong Kong Index</td>
                        <td>HKCHKD.c</td>
                        <td>HKCHKD.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>HKD</td>
                    </tr>
                    <tr>
                        <td>Hong Kong Index</td>
                        <td>HKCHKD.c</td>
                        <td>HKCHKD.c</td>
                        <td>Cash</td>
                        <td>3</td>
                        <td>5</td>
                        <td>HKD</td>
                    </tr>
                    <tr>
                        <td>China A50 Futures</td>
                        <td>CHINA50.f</td>
                        <td>CH50.f</td>
                        <td>Future</td>
                        <td>3</td>
                        <td>5</td>
                        <td>USD</td>
                    </tr>
                    <tr>
                        <td>Crude Oil Future</td>
                        <td>WTI</td>
                        <td>USOIL.f</td>
                        <td>Future</td>
                        <td>3</td>
                        <td>5</td>
                        <td>USD</td>
                    </tr>
                    <tr>
                        <td>Brent Oil Future</td>
                        <td>BRENT</td>
                        <td>UKOIL.f</td>
                        <td>Future</td>
                        <td>3</td>
                        <td>5</td>
                        <td>USD</td>
                    </tr>
                    <tr>
                        <td>NGAS Futures</td>
                        <td>NGAS.f</td>
                        <td>NATGAS.f</td>
                        <td>Future</td>
                        <td>3</td>
                        <td>5</td>
                        <td>USD</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


{% endblock %}