{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <br><br>
                <h2 class="boold">FOREX (FX)</h2>
            </div>
            <div class="col-lg-12 col-12">
                <p>The currency market is the largest and most active financial market, with an equivalent of over 4 trillion US Dollars traded every day. This is significantly larger than any other major financial market. As a result of high liquidity and the market’s unique decentralized characteristics, there are always price fluctuations in the Forex market. As a result of these price movements, there are always opportunities to make significant profits, even when other markets remain stagnant.</p>

                <p>Trading in the currency market consists of two currencies (a cross or currency pair), in which one currency is bought (long) and the other is sold (short).</p>

                <p><strong>Forex – Trading Conditions</strong></p>

                <p>With Bull Hub Capitals trading platform, the quotes of the currency pairs are in 5-digit decimal pricing. Our fifth digit allows us to be more precise in our execution, and gives us the opportunity to offer the very best possible spreads.</p>

                <p>With prices measured in 1/10th of a pip the view of the foreign exchange market and its direction is easily attainable in comparison to four digit pricing where figures are ‘rounded up’ or ‘rounded down’ where necessary.</p>

                <p><strong>Why trade FOREX with Bull Hub Capitals?</strong></p>

                <p>Bull Hub Capitals offers elite services to Forex traders with diverse levels of knowledge and experience. These services include:</p>

                <p>Meta Trader 4 trading platform that has built-in analysis charts, advanced trading orders, and expert advisor compatibility</p>

                <p>High Leverage 500x</p>

                <p>Dealing Fixed Spread from 3 pip for EURUSD</p>

                <p>Over 30 available currency pairs and precious metals like Gold and Silver</p>

                <p>Hedging allowed – hold simultaneous long and short positions in the same account</p>

                <p>Small deal sizes with as little as 0.01 standard lot (Standard &amp; Privileged Accounts) and 0.01 mini lot (Mini Accounts)</p>

                <p>24 hour client email support, available 5.5 days a week</p>

                <p>5th decimal place pricing</p>

                <p>Competitive Bid/Ask pip spreads</p>
            </div>

            <div class="col-lg-12 col-12">
                 <table style="width:100%">
                    <tr>
                        <th>Instrument Name</th>
                        <th>Symbols</th>
                        <th>Digits</th>
                        <th>Margin (5%)</th>
                        <th>Trading Hours - GMT +2</th>
                    </tr>
                    <tr>
                        <td>Euro vs United States Dollar</td>
                        <td>EURUSD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Japanese Yen</td>
                        <td>USDJPY</td>
                        <td>3</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>British Pound vs United States Dollar</td>
                        <td>GBPUSD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Australian Dollar vs United States Dollar</td>
                        <td>AUDUSD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Swiss Franc</td>
                        <td>USDCHF</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>New Zaeland vs United States Dollar</td>
                        <td>NZDUSD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Canadian Dollar</td>
                        <td>USDCAD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Australian Dollar vs Canadian Dollar</td>
                        <td>AUDCAD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Australian Dollar vs Swiss Franc</td>
                        <td>AUDCHF</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Australian Dollar vs New Zaeland Dollar</td>
                        <td>AUDNZD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr><tr>
                        <td>Euro vs Australian Dollar</td>
                        <td>EURAUD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>

                    <tr>
                        <td>Euro vs Swiss Franc</td>
                        <td>EURCHF</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr><tr>
                        <td>Euro vs British Pound</td>
                        <td>EURGBP</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>British Pound vs Australian Dollar</td>
                        <td>GBPAUD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>British Pound vs Swiss Franc</td>
                        <td>GBPCHF</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Australian Dollar vs Japanese Yen</td>
                        <td>AUDJPY</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Canadian Dollar vs Swiss Franc</td>
                        <td>CADCHF</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Canadian Dollar vs Japanese Yen</td>
                        <td>CADJPY</td>
                        <td>3</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Swiss Franc vs Japanese Yen</td>
                        <td>CHFJPY</td>
                        <td>3</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Euro vs Canadian Dollar</td>
                        <td>EURCAD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Euro vs Japanese Yen</td>
                        <td>EURJPY</td>
                        <td>3</td>
                        <td>1</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Euro vs New Zaeland Dollar</td>
                        <td>EURNZD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>British Pound vs Canadian Dollar</td>
                        <td>GBPCAD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>British Pound vs Japanese Yen</td>
                        <td>GBPJPY</td>
                        <td>3</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>British Pound vs New Zaeland Dollar</td>
                        <td>GBPNZD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>New Zaeland Dollar vs Canadian Dollar</td>
                        <td>NZDCAD</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>New Zaeland Dollar vs Swiss Franc</td>
                        <td>NZDCHF</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>New Zealand Dollar vs Japanese Yen</td>
                        <td>NZDJPY</td>
                        <td>3</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Euro vs Polish Zloty</td>
                        <td>EURPLN</td>
                        <td>5</td>
                        <td>1</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>Euro vs Turkish Lira</td>
                        <td>EURTRY</td>
                        <td>5</td>
                        <td>10</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Singapore Dollar</td>
                        <td>USDSGD</td>
                        <td>5</td>
                        <td>10</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Chinese Yuan</td>
                        <td>USDCNH</td>
                        <td>4</td>
                        <td>1</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Czech Republic</td>
                        <td>USDCZK</td>
                        <td>5</td>
                        <td>2</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Hong Kong Dollar</td>
                        <td>EURPLN</td>
                        <td>5</td>
                        <td>10</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Hungarian Forint</td>
                        <td>USDHUF</td>
                        <td>3</td>
                        <td>1</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Mexican Peso</td>
                        <td>USDMXN</td>
                        <td>5</td>
                        <td>10</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Norwegioan Kro</td>
                        <td>USDNOK</td>
                        <td>5</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Polish Zloty</td>
                        <td>USDPLN</td>
                        <td>5</td>
                        <td>1</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Russian Ruble</td>
                        <td>USDRUB</td>
                        <td>4</td>
                        <td>1</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Swedish Krona</td>
                        <td>USDSEK</td>
                        <td>5</td>
                        <td>5</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs Turkish Lira</td>
                        <td>USDTRY</td>
                        <td>5</td>
                        <td>10</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                    <tr>
                        <td>United States Dollar vs South African Ra</td>
                        <td>USDZAR</td>
                        <td>5</td>
                        <td>10</td>
                        <td>Monday - Friday ( 00:00 - 24:00 )</td>
                    </tr>
                </table> 
            </div>
        </div>
    </div>
</section>


{% endblock %}