{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <br><br>
                <p><strong>ANTI-MONEY LAUNDERING</strong><p>

                <p>Meta Coin Options is an international multi-assets independent trading brokerage, specializing in online Foreign Exchange (“Forex”) brokerage. Meta Coin Options is obliged to adhere to Anti-Money Laundering (AML) policies with due diligence. Meta Coin Options complies with the International Anti-Money Laundering laws and regulations, and maintains a strong and aggressive stance to prevent illicit money laundering activities. Our stringent policies and procedures were implemented to detect, prevent and report Money Laundering and any other suspicious activities.</p>

                <p><strong>MONEY LAUNDERING DEFINITION</strong></p>

                <p>When criminals attempt to relocate their illicit funds by transferring them to a lawful financial system without arousing any legal attention, this constitutes Money Laundering.</p>

                <p>Once a criminal or terrorist person(s) transfers their funds into legitimate financial systems, they can then transfer them between banks or financial products to use in illegal activities, purchase goods and services, or even fund terrorism.</p>

                <p>Meta Coin Options will report any attempt by an individual or business to conceal the origin and ownership of the proceeds of illegal activities, including fraud, theft, illegal gambling, drug trafficking, and other activities.</p>

                <p><strong>DO I NEED TO PROVE MY IDENTITY BEFORE OPENING A FOREX TRADING ACCOUNT?</strong></p>

                <p>To prevent Money Laundering, Meta Coin Options requests that all of our customers provide supporting documentation for proof of identity and the origin of their funds before trading forex with us. We place great emphasis on verifying the identity of our customers and determining that their funds are derived from a legal origin before opening an fx trading account or making a deposit. As part of this policy, you will be required to provide legal documentation to verify your name, personal details and location.</p>

                <p><strong>DOCUMENTATION REQUIRED AS PROOF OF IDENTITY: </strong></p>

                <ul>
                    <li>A copy of your passport or I.D. (Front and back.)</li>
                    <li>A bank statement</li>
                    <li> A full utility bill with your first and last name, as well as your address. (Please provide us with the entire document.)</li>
                    <li>If Credit Card is used as deposit, a scanned copy of front and back of credit cards used to make a deposit. Please note that only the first six and the last four digits on the front of the credit card must be visible, along with the expiry date and full name. You are welcome to hide the rest of the numbers on the front and the CVV number on the back.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}