{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section" class="ourteam">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <br>
                <h2>Our Team</h2>
            </div>
            <div class="col-lg-12 col-12">
                <br>
                <img src="{% static 'pictures/Our-Team.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="col-lg-12 col-12">
                <br>
                <p><strong>Meta Coin Options</strong> is an international multi-assets online regulated and licensed brokerage firm. Meta Coin Options delivers the forex trading programs by joining forces with various principals from both local and foreign financial industries. Our board of directors hold solid history and respected reputation from the collective experience of more than 20 years in the forex industry. The security and benefits to the clients are always of paramount consideration.</p>

                <p>The board of directors and management team of Meta Coin Options are focused and confident to provide the most comprehensive and practical solutions to help our clients diversify their financial objective into forex trading as a new investment portfolio.</p>

                <p>Meta Coin Options uses low-cost trading, cutting edge technology, advanced educational programmes, innovative computer, financial technology and world-class customer service to provide Internet-based forex trading and currency information services to everyone, from individuals to large corporations, from portfolio managers to financial institutions. Meta Coin Options trading platforms incorporate full charting packages with tic charts, and minute, hourly, daily and weekly charts. Chart types include candlestick, tic and bar charts. Bollinger Bands, Trend Lines, Moving Averages, Stochastic, MACD and Momentum can also be added.</p>

                <p>Our mission is to become the world’s best Forex broker. We value your trust and spare no efforts in assuring that your funds are safe and secure with us.</p>

                <p>We offer all you need to be a successful trader as part of our connected global investing community. Get all the tools you need to succeed and maximize your trading potential. We’re more than just the world’s largest investment network: we’re your investment network.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}