{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <br><br>
                <h2>PRIVACY POLICY</h2>
                <br>
            </div>

            <div class="col-lg-12 col-12">
                <p>Due to the nature of the Company’s business and relations with the Client, The Company shall hold some personal client information. All data collected, whether it be on paper or on a computer (including the use of cookies and similar features), is safeguarded in order to maintain the Client Privacy.</p>

                <p>The Company shall be permitted to use and/or disclose the Client Information (a) For internal use, including with affiliated entities; (b) As permitted or required by law; (c) For protection against or prevent actual or potential fraud or unauthorized transactions (d) For computerized supervision of his/her use of the services (including, without limitation, use of “cookies” and similar tools) and to use the information for review and/or supervision and/or development and/or maintenance of the quality of services, their availability and/or for the fulfillment of any instruction of any law. Without derogating from the aforesaid, the Company shall be permitted (e) to collect funds due (if they are due) to the Company from the user with respect to the services.</p>

                <p>The Client hereby grants the Company his/her permission to make use of his/her user details in order to provide updates and/or information and/or for publicity and/or for marketing purposes through his/her e-mail address. Cancellation of this consent shall be performed by providing written notice to the Company, and shall apply to new publications that have not been sent.</p>

                <p>The Client agrees that the Company may record all conversations with the Client and monitor (and maintain a record of) all emails sent by or to the Company. All such records are the Company’s property and can be used by the Company, amongst other things, in the case of a dispute between the Company and the Client or for training purposes.</p>

                <p>Affiliation – The Company may share commissions and charges with its associates, introducing brokers or other third parties or receive remuneration from them in respect of contracts entered into by the Company. Such affiliates of the Company may be disclosed with Clients information.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}