{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <br><br>
                <h2 class="boold">SEGREGATED ACCOUNTS</h2>
            </div>
            <div class="col-lg-12 col-12">
                <br>
                <img src="{% static 'pictures/segregated.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="col-lg-12 col-12">
                <br>
                <h6><strong>Fully Segregated Accounts for High Net Worth Individuals and Corporate Clients</strong></h6>

                <p>Available to accounts of USD$1m and above, through our unique deals with leading financial institutions, your trading account can also be linked to a fully segregated private bank account.</p>

                <p>You can trade directly on Meta Coin Options, without completing the actual transfer of your funds to us.</p>

                <p>Your funds remain in your own name at one of our AA+ rated top tier banking partners, which are large globally recognized institutions, which have been individually chosen based on their extremely high ratings and solid credit-worthiness.</p>

                <p>This means that you enjoy peace of mind that your funds are secure in your bank, whilst you are trading with Meta Coin Options.</p>

                <br>

                <h6><strong>With a Segregated Bank account option, institutional traders can benefit from:</strong></h6>

                <ul>
                    <li>Full segregation of individual client collateral according to strict financial</li>
                    <li>Regulatory requirements adhered to by the banking industry</li>
                    <li>Trade directly with Meta Coin Options without transferring funds</li>
                    <li>Easy and fast procedure for account opening</li>
                    <li>Full transparency and Weekly P/L setting</li>
                </ul>

                <br>

                <h6><strong>For clients with USD$1m or its equivalent in other currencies. How to Apply:</strong></h6>

                <ol>
                    <li>Open trading account with Meta Coin Options, send required documentation and pass compliance checks</li>
                    <li>Meta Coin Options will introduce client to the banking institution for bank account opening</li>
                    <li>Provide all required documentation*</li>
                    <li>Start Trading</li>
                </ol>

                <p>*Full details on the required documentation is provided upon request, as this is subject to the circumstances of each application. Individual application and are subject to Meta Coin Options approval.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}