{% extends 'metacoin/base.html' %}
{% load static %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <br><br><br>
                <h2 class="boold">TRADING AND EXECUTION RISKS</h2>

                <p>Bull Hub Capitals provide clients a direct and transparent access to the interbank market. Liquidity providers (Global Banks, Prime brokers, financial institutions, etc.) feed their prices to the Bull Hub Capitals system, which automatically chooses the best prices offering the best spread available.</p>

                <p>When the client decides to place an order, it is sent through the system (called bridge) straight to the liquidity provider who was offering the best price. These orders are sent anonymously so information about the trader, his Stops and order limits (including Take Profit and Stop Loss) can’t be seen by the executing party. Rate provider then sends the confirmation back in a matter of milliseconds.</p>

            </div>
        </div>
    </div>
</section>

{% endblock %}